

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	background-image: url("images/table.png");
	font-size: 3rem;
	background-size: cover;
	color: #F9FAFB;
	
}

h1 {
	color: goldenrod;
	font-size: 6rem;
}

#message-el {
	font-style: italic;
	font-size: 3rem
}

p {
	font-weight: 900;
}

button {
	padding: 1rem;
	font-size: 3rem;
	color: #016f32;
	width: 30rem;
	background-color: goldenrod;
	border-radius: 0.5rem;
	font-weight: 900;
	border: none;
}

.game-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
